<section>
  <h1>Who Am I?</h1>
  <p>I am a Lead Consultant working for <a href="http://thoughtworks.com" title="ThoughtWorks">ThoughtWorks</a>, where I specialize in developing robust software for the future, delivered today.</p> 

  <p>I have acted as developer, software architect, technical lead and agile coach at many projects. I have spoken at both internal and external conferences, skills matter courses and geek nights. Although primarily focused on software design, I also have a lot to say about how software should be developed to accommodate the changing pace of business and how people should be treated within teams.</p>

  <p>To learn how to say my name, have a look at <a href="/uncategorized/how-many-os-in-woolloomooloo/">this post</a></p>
</section>
